<div class="container">
    <form #form="ngForm" class="form-horizontal" role="form" (ngSubmit)="submitForm(form)">
        <h2>Registration Form</h2>
        <div class=" form-group ">
            <label for="firstName " class="col-sm-3 control-label ">Full Name</label>
            <div class="col-sm-9 ">
                <input type="text " id="firstName " required placeholder="Full Name" class="form-control " name="firstName" autofocus [(ngModel)]="user.firstName ">
                <span class="help-block ">Last Name, First Name, eg.: Smith, Harry</span>
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group ">
            <div class="col-sm-9 col-sm-offset-3 ">
                <button type="submit" class="btn btn-primary btn-block ">Register</button>
            </div>
        </div>
    </form>
</div>

<div class="container">

    <form (formGroup)="registerForm" (ngSubmit)="submitForm(registerForm)">

        <div class=" form-group ">
            <label for="firstName " class="col-sm-3 control-label ">Full Name</label>
            <div class="col-sm-9 ">
                <input type="text" [formControl]="registerForm.controls['firstName']">
                <span class="help-block" *ngIf="!registerForm.controls['firstName'].valid">First Name is required.</span>
            </div>
        </div>
        <div class=" form-group ">
            <label for="firstName " class="col-sm-3 control-label ">Full Name</label>
            <div class="col-sm-9 ">
                <input type="text" class="form-control" [formControl]="registerForm.controls['phone']">
                <span class="help-block" *ngIf="registerForm.controls['phone'].hasError('minlength')">
                PhoneNumber is minimum length is 10.</span>
                <span class="help-block" *ngIf="registerForm.controls['phone'].hasError('required')">
                PhoneNumber is reuqired</span>
            </div>
        </div>
        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Submit</button>
    </form>
</div>